<ul>
<% @session.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>

<%= form_for(@session) do |f| %>

  <%= f.label :course_id %>
  <%= f.number_field :course_id %>
  <br>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :sequence_num %>
  <%= f.number_field :sequence_num %>
  <br>

  <%= f.label :date %>
  <%= f.date_select :date %>
  <br>

  <%= f.submit %>
<% end %>
