<ul>
<% @session.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>

<%= form_for(@session) do |f| %>

  <%= f.label :course_id, 'Course' %>
  <%= f.select :course_id, options_for_select(@courses.map {|course| [course.name, course.id]}) %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :sequence_num %>
  <%= f.number_field :sequence_num %>
  <br>

  <%= f.label :date %>
  <%= f.date_field :date %>
  <br>

  <%= f.submit %>
<% end %>
