<h2> <%= @course.name %> </h2>

<h2> Sessions </h2> 
<%= link_to 'New Session', new_session_path, :class => 'button-link' %>
<table>
<% @sessions.each do |session| %>
<tr> 
	<td> <%= link_to session.name, session_path(session) %> </td> 
	<td> <%= session.questions.count %> questions </td> 
</tr>
<% end %>
</table>


<h2> Students </h2>
<table>
<%= link_to 'New Student', new_student_path, :class => 'button-link' %>
<% @students.each do |student| %>
<tr><td> <%= student.name %> </tr></td>
<% end %>
</table>